@font-face 
{
    font-family: "Playfair Display", serif;
    src: url('../fonts/playfair-display.bold.ttf') format('ttf');
    src: url('../fonts/playfair-display-semi-bold.ttf') format('ttf');
}
@font-face 
{
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter-Regular.otf') format('otf');
    src: url('../fonts/Inter-Bold.otf') format('otf');
}
@font-face 
{
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face 
{
    font-family: "Open Sans", sans-serif;
    src: url('../fonts/open-sans.regular.ttf') format('ttf');
}

:root 
{
    --MainColor: #BA7894;
    --PrimaryColor: #422A3C;
    --SecondaryColor: #ECBFD3;
    --DarkColor: #141414;
    --LightColor:#F7E5C1;
    --GrayColor: #555555;
    --WhiteColor: #FFFFFF;
    --FooterColor: #241520;
    --priceColor: #6B0606;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================================================== Contact ==================================================== */
.section-contact
{
    margin-bottom: 118px;
}
.contact__box
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-map
{
    width: 100%;
    height: 550px;
}
.contact-block
{
    display: flex;
    justify-content: center;
    padding-top: 170px;
    gap: 0 120px;
}
.contact_img
{
    position: relative;
}
.contact-background
{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 100px;
}
.contact-box
{
    padding: 23px 0;
}
.contact_text
{
    font-size: 15px;
    font-weight: 600;
    color: var(--PrimaryColor);
    text-transform: uppercase;
    margin-bottom: 9px;
}
.contact-title
{
    width: 435px;
    margin-bottom: 23px;
}
.contact-text
{
    line-height: 1.5;
    width: 534px;
    margin-bottom: 43px;
}
.contact-list
{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}
.contact-link
{
    display: flex;
    align-items: center;
    gap: 0 27px;
}
.contact__text
{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    columns: var(--DarkColor);
    margin-bottom: 8px;
}
.contact_address
{
    font-size: 16px;
    font-weight: 600;
    color: var(--DarkColor);
}
/* ======================================== Book ================================== */
.section-book
{
    background-color: var(--LightColor);
    margin-bottom: 60px;
    padding: 60px 0;
}
.book-inner
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--WhiteColor);
    padding: 60px;
    width: 1076px;
    height: 657px;
    margin: 0 auto;
    gap: 0 40px;
}
.book_text
{
    font-size: 16px;
    font-weight: 500;
    color: var(--MainColor);
    text-transform: uppercase;
    width: 123px;
    margin-bottom: 24px;
}
.book-title
{
    margin-bottom: 24px;
}
.book-text
{
    font-size: 16px;
    line-height: 1.3;
    color: var(--GrayColor);
    margin-bottom: 24px;
}
.book-list
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    margin-bottom: 20px;
}
.book-item
{
    display: flex;
    flex-direction: column;
}
.book-label
{
    font-size: 16px;
    color: var(--DarkColor);
    margin-bottom: 6px;
}
.book-input
{
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 9px 16px;
    width: 280px;
    height: 40px;
}
.book-input::placeholder
{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.book_item
{
    display: flex;
    flex-direction: column;
}
.book_box
{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.book_label
{
    font-size: 16px;
    color: var(--DarkColor);
    margin-bottom: 6px;
}
.book_input
{
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 9px 40px 9px 16px;
    width: 600px;
    height: 40px;
}
.book-input_img
{
    content: '';
    position: absolute;
    right: 0;
    padding: 0px 16px 0px 8px;
}
.book-btn
{
    font-size: 24px;
    line-height: 1.0;
    padding: 9px 16px;
    color: var(--WhiteColor);
    background-color: var(--priceColor);
}
/* ========================================= Follow our Instagram ============================== */
.section-follow
{
    margin-bottom: 50px;
}
.follow-title
{
    width: 667px;
    text-align: center;
    margin: 0 auto 24px;
}
.follow-text
{
    width: 827px;
    color: var(--GrayColor);
    text-align: center;
    margin: 0 auto 40px;
}
.follow-list
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.follow-link
{
    display: flex;
}
.follow-img
{
    width: 100%;
}