html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before 
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    list-style: none;
}

body 
{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--WhiteColor);
}
@font-face 
{
    font-family: "Manrope", sans-serif;
    src: url('../fonts/manrope.regular.otf') format('otf');
    src: url('../fonts/manrope.medium.otf') format('otf');
    src: url('../fonts/manrope.semibold.otf') format('otf');
    src: url('../fonts/manrope.bold.otf') format('otf');
}
@font-face 
{
    font-family: "Playfair Display", serif;
    src: url('../fonts/playfair-display.bold.ttf') format('ttf');
    src: url('../fonts/playfair-display-semi-bold.ttf') format('ttf');
}
@font-face 
{
    font-family: "Inter", sans-serif;
    src: url('../fonts/Inter-Regular.otf') format('otf');
    src: url('../fonts/Inter-Bold.otf') format('otf');
}
@font-face 
{
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face 
{
    font-family: "Open Sans", sans-serif;
    src: url('../fonts/open-sans.regular.ttf') format('ttf');
}
:root 
{
    --MainColor: #BA7894;
    --PrimaryColor: #422A3C;
    --SecondaryColor: #ECBFD3;
    --DarkColor: #141414;
    --LightColor:#F7E5C1;
    --GrayColor: #555555;
    --WhiteColor: #FFFFFF;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container
{
    max-width: 1680px;
    padding: 0 10px;
    margin: 0 auto;
}
.title
{
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ================================================= Header ================================================ */
.inner
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
}
.inner-box
{
    display: flex;
    align-items: center;
    gap: 0 36px;
    flex-wrap: wrap;
}
.header_list
{
    display: flex;
    gap: 0 46px;
}
.header_item
{

    font-size: 16px;
    font-weight: 500;
    color: var(--DarkColor);
}
.header_item:hover,
.header_item:focus
{
    color: var(--MainColor);
}
.language
{
    display: flex;
    align-items: center;
}
.language_link
{
    display: flex;
}
.language_sapn
{
    font-size: 16px;
    font-weight: 700;
}
.registration
{
    display: flex;
    gap: 0 20px;
}
.login
{
    font-size: 16px;
    font-weight: 700;
    padding: 14px 24px;
    border-radius: 5px;
    border: 2px solid var(--DarkColor);
}
.signup
{
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 5px;
    color: var(--WhiteColor);
    background-color: var(--DarkColor);
}
/* ======================================= Main ====================================== */
.section-service
{
    background-image: url(../images/gradient.png), url(../images/service-bg.png);
    background-repeat: no-repeat;
    background-position: left, right;
    width: 100%;
    height: 832px;
    margin-bottom: 70px;
}
.block-sevrice
{
    display: flex;
    flex-direction: column;
    padding: 207px 730px 203px 110px;
}
.service-box
{
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 7px;
}
.box-text
{
    font-size: 15px;
    font-weight: 600;
    color: var(--WhiteColor);
    text-transform: uppercase;
    width: 338px;
}
.block-title
{
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 700;
    color: var(--LightColor);
    width: 510px;
    margin-bottom: 24px;
}
.block-text
{
    color: var(--WhiteColor);
    width: 508px;
    margin-bottom: 52px;
    line-height: 1.5;
}
.block-form
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F8F8F8;
    width: 790px;
    border-radius: 66px;
    gap: 0 46px;
    padding: 11px 14px 11px 40px;
}
.block-search
{
    display: flex;
    gap: 0 24px;
}
.name,
.address
{
    display: flex;
    flex-direction: column;
}
.name-label,
.address-label
{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--MainColor);
    width: 123px;
    margin-bottom: 14px;
}
.name-link,
.address-link
{
    display: flex;
    border-bottom: 2px solid var(--DarkColor)
}
.name-input,
.address-input,
.name-search,
.address-location
{
    border: none;
    margin-bottom: 8px;
}
.name-input::placeholder,
.address-input::placeholder
{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--DarkColor);
    width: 130px;
}
.search-link
{
    display: flex;
    align-items: center;
    background-color: var(--MainColor);
    border-radius: 56px;
    padding: 16px 40px;
    gap: 0 23px;
    color: var(--WhiteColor);
}
/* ========================================= Procedure =================================== */
.section-procedure
{
    margin-bottom: 51px;
}
.block-list
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 53px;
    flex-wrap: wrap;
}
.block-link
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px 0;
}
.block-img
{
    width: 126px;
}
.block_text
{
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ======================================= Beautiful ============================ */
.section-beautiful
{
    background-color: rgba(235, 243, 245, 50%);
    margin-bottom: 111px;
    padding: 64px 120px;
}
.beautiful-title
{
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.beautiful-text
{
    font-size: 20px;
    text-align: center;
    color: var(--GrayColor);
    width: 768px;
    margin: 0 auto;
    margin-bottom: 23px;
}
.beautiful-images
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
}
.making-img
{
    width: 455px;
    border-radius: 20px;
}
.box-img
{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* ========================================== Recommended ============================================ */
.section-recommended
{
    margin-bottom: 111px;
}
.recommended_text
{
    font-size: 15px;
    font-weight: 600;
    color: var(--MainColor);
    text-transform: uppercase;
    text-align: center;
}
.recommended-title
{
    text-align: center;
    margin-bottom: 16px;
    width: 768px;
    margin: 0 auto;
}
.recommended-text
{
    font-size: 20px;
    color: var(--GrayColor);
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.block-recommended
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
}
.block-box
{
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 24%);
    width: 384px;
}
.block-box_img
{
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.block-inner
{
    padding: 24px;
}
.reviews
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.rating
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}
.salon-title
{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--DarkColor);
    margin-bottom: 10px;
}
.review
{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--DarkColor);
}
.location-link
{
    display: flex;
    gap: 0 10px;
    margin-bottom: 24px;
}
.locacie
{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--GrayColor);
    width: 336px;
    white-space: nowrap;
}
.recommended-btn
{
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--MainColor);
    display: block;
    border-radius: 8px;
    border: 1px solid var(--MainColor);
    padding: 16px 122px;
    margin: 0 auto;
    text-transform: uppercase;
    white-space: nowrap;
}
.recommended-btn:hover
{
    color: var(--WhiteColor);
    background-color: var(--MainColor);
}