html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--WhiteColor);
}
@font-face {
    font-family: "Manrope", sans-serif;
    src: url("../fonts/manrope.regular.otf") format("otf");
    src: url("../fonts/manrope.medium.otf") format("otf");
    src: url("../fonts/manrope.semibold.otf") format("otf");
    src: url("../fonts/manrope.bold.otf") format("otf");
    src: url("../fonts/manrope.extrabold.otf") format("otf");
}
@font-face {
    font-family: "Playfair Display", serif;
    src: url("../fonts/playfair-display.bold.ttf") format("ttf");
    src: url("../fonts/playfair-display-semi-bold.ttf") format("ttf");
}
@font-face {
    font-family: "Inter", sans-serif;
    src: url("../fonts/Inter-Regular.otf") format("otf");
    src: url("../fonts/Inter-Bold.otf") format("otf");
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("../fonts/open-sans.regular.ttf") format("ttf");
}
:root {
    --MainColor: #ba7894;
    --PrimaryColor: #422a3c;
    --SecondaryColor: #ecbfd3;
    --DarkColor: #141414;
    --LightColor: #f7e5c1;
    --GrayColor: #555555;
    --WhiteColor: #ffffff;
    --FooterColor: #241520;
    --priceColor: #6b0606;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    max-width: 1680px;
    padding: 0 10px;
    margin: 0 auto;
}
.title {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ================================================= Header ================================================ */
.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 36px;
    flex-wrap: wrap;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header_list {
    display: flex;
    justify-content: space-between;
    gap: 0 46px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header_item {
    font-size: 16px;
    font-weight: 500;
    color: var(--DarkColor);
}
.header_item:hover,
.header_item:focus {
    color: var(--MainColor);
}
.language {
    display: flex;
    align-items: center;
}
.language_link {
    display: flex;
}
.language_sapn {
    font-size: 16px;
    font-weight: 700;
}
.registration {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.login {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--DarkColor);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.signup {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    color: var(--WhiteColor);
    background-color: var(--DarkColor);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======================================= Main ====================================== */
.section-service {
    background-image: url(../images/gradient.png), url(../images/service-bg.png);
    background-repeat: no-repeat;
    background-position: left, right;
    width: 100%;
    height: 832px;
    margin-bottom: 70px;
}
.block-sevrice {
    display: flex;
    flex-direction: column;
    padding: 207px 300px 203px 110px;
}
.service-box {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 7px;
}
.box-text {
    font-size: 15px;
    font-weight: 600;
    color: var(--WhiteColor);
    text-transform: uppercase;
    width: 338px;
    white-space: nowrap;
}
.block-title {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 700;
    color: var(--LightColor);
    width: 510px;
    margin-bottom: 24px;
}
.block-text {
    color: var(--WhiteColor);
    width: 508px;
    margin-bottom: 52px;
    line-height: 1.5;
}
.block-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    width: 790px;
    border-radius: 66px;
    gap: 0 46px;
    padding: 11px 14px 11px 40px;
}
.block-search {
    display: flex;
    gap: 0 24px;
}
.name,
.address {
    display: flex;
    flex-direction: column;
}
.name-label,
.address-label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--MainColor);
    width: 123px;
    margin-bottom: 14px;
    white-space: nowrap;
}
.name-link,
.address-link {
    display: flex;
    border-bottom: 2px solid var(--DarkColor);
}
.name-input,
.address-input,
.name-search,
.address-location {
    border: none;
    margin-bottom: 8px;
}
.name-input::placeholder,
.address-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--DarkColor);
    width: 150px;
}
.search-link {
    display: flex;
    align-items: center;
    background-color: var(--MainColor);
    border-radius: 56px;
    padding: 16px 40px;
    gap: 0 23px;
    color: var(--WhiteColor);
}
/* ========================================= Procedure =================================== */
.section-procedure {
    margin-bottom: 51px;
}
.block-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 53px;
    flex-wrap: wrap;
}
.block-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px 0;
}
.block-img {
    width: 126px;
}
.block_text {
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ======================================= Beautiful ============================ */
.section-beautiful {
    background-color: rgba(235, 243, 245, 50%);
    margin-bottom: 111px;
    padding: 64px 120px;
}
.beautiful-title {
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.beautiful-text {
    font-size: 20px;
    text-align: center;
    color: var(--GrayColor);
    width: 768px;
    margin: 0 auto;
    margin-bottom: 23px;
}
.beautiful-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
}
.making-img {
    width: 455px;
    border-radius: 15px;
}
.box-img {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* ========================================== Recommended ============================================ */
.section-recommended {
    margin-bottom: 111px;
}
.recommended_text {
    font-size: 15px;
    font-weight: 600;
    color: var(--MainColor);
    text-transform: uppercase;
    text-align: center;
}
.recommended-title {
    text-align: center;
    margin-bottom: 16px;
    width: 768px;
    margin: 0 auto;
}
.recommended-text {
    font-size: 20px;
    color: var(--GrayColor);
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.block-recommended {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    flex-wrap: wrap;
}
.block-box {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 24%);
    width: 384px;
}
.block-box_img {
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.block-inner {
    padding: 24px;
}
.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}
.salon-title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--DarkColor);
    margin-bottom: 10px;
}
.review {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--DarkColor);
}
.location-link {
    display: flex;
    gap: 0 10px;
    margin-bottom: 24px;
}
.locacie {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--GrayColor);
    width: 336px;
    white-space: nowrap;
}
.recommended-btn {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--MainColor);
    /* display: block; */
    border-radius: 8px;
    border: 1px solid var(--MainColor);
    padding: 16px 50px;
    margin: 0 auto;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}
.recommended-btn:hover {
    color: var(--WhiteColor);
    background-color: var(--MainColor);
}
/* =================================== Elegance ======================================= */
.section-elegance {
    margin-bottom: 150px;
}
.elegance-title {
    text-align: center;
    width: 667px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.elegance-text {
    text-align: center;
    color: var(--GrayColor);
    width: 827px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.elegance-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    flex-wrap: wrap;
    position: relative;
}
.elegance-img {
    border-radius: 15px;
}
.elegance {
    display: flex;
    align-items: center;
    gap: 0 24px;
    padding: 24px;
    content: "";
    position: absolute;
    bottom: 0;
}
.elegance_text {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--WhiteColor);
}
/* ==================================== Subscribe ===================================== */
.section-newsletter {
    margin-bottom: 86px;
}
.newsletter-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 56px;
    flex-wrap: wrap;
}
.newsletter-box {
    display: flex;
    flex-direction: column;
}
.newsletter-title {
    width: 475px;
    margin-bottom: 15px;
}
.newsletter-text {
    color: var(--GrayColor);
    width: 635px;
    margin-bottom: 46px;
}
.newsletter-form {
    display: flex;
    align-items: center;
    border: 1px solid var(--SecondaryColor);
    border-radius: 40px;
    width: 543px;
    height: 68px;
    padding: 9px 28px;
}
.newsletter-img {
    gap: 0 7px;
}
.newsletter-input {
    border: none;
    margin-right: 100px;
    padding: 5px;
}
.newsletter-input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #004761;
}
.newsletter-btn {
    padding: 15px 20px;
    border-radius: 40px;
    color: var(--WhiteColor);
    background-color: var(--DarkColor);
}
/* ========================================= Follow our Instagram ============================== */
.section-follow {
    margin-bottom: 50px;
}
.follow-title {
    width: 667px;
    text-align: center;
    margin: 0 auto 24px;
}
.follow-text {
    width: 827px;
    color: var(--GrayColor);
    text-align: center;
    margin: 0 auto 40px;
}
.follow-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.follow-link {
    display: flex;
}
.follow-img {
    width: 100%;
}
/* ==================================== Footer ========================= */
.footer {
    background-color: var(--FooterColor);
}
.footer-inner {
    padding: 66px 0 52px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--GrayColor);
    flex-wrap: wrap;
}
.social-list {
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
}
.footer-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 52px 0 76px 0;
}
.footer-title {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--WhiteColor);
    margin-bottom: 21px;
    width: 145px;
}
.footer-block_list {
    font-size: 17px;
    font-weight: 500;
    color: var(--WhiteColor);
    display: flex;
    flex-direction: column;
    gap: 14px 0;
}
.footer-address_list {
    font-size: 17px;
    font-weight: 500;
    color: var(--WhiteColor);
    display: flex;
    flex-direction: column;
    gap: 14px 0;
}
.footer-address_item {
    display: flex;
    gap: 0 14px;
}
/* ================================================================================= */
/* Плавные переходы при смене языка */
body.language-changing {
    opacity: 0;
    transition: opacity 0.7s var(--cubic);
}

/* Стили для селектора языка */
.language select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.7s var(--cubic);
}

.language select:focus {
    outline: none;
    border-color: #aaa;
}
/* ======================================= Media ======================================= */
@media (max-width: 1440px)
{
    .section-service 
    {
        background-image: url(../images/gradient-1.png), url(../images/service-bg.png);
    }
    .block-sevrice
    {
        padding: 365px 300px 203px 110px;
    }
    .block-title
    {
        font-size: 55px;
        width: 410px;
    }
    .block-text
    {
        margin-bottom: 30px;
    }
    .block-form
    {
        width: 750px;
        gap: 0 35px;
    }
    .search-link
    {
        padding: 16px 20px;
    }
}
@media (max-width: 1300px)
{
    .section-service 
    {
        background-image: url(../images/gradient-2.png), url(../images/service-bg.png);
    }
}
@media (max-width: 1200px)
{
    .section-service 
    {
        background-image: url(../images/gradient-3.png), url(../images/service-bg.png);
    }
    .block-sevrice
    {
        padding: 400px 300px 203px 75px;
    }
}
@media (max-width: 1000px)
{
    .inner
    {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }
}
@media (max-width: 740px)
{
    .inner-box
    {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }
    .login,
    .signup
    {
        font-size: 15px;
    }
    #language-select
    {
        font-size: 15px;
    }
}
@media (max-width: 410px)
{
    .header_list
    {
        gap: 0 30px;
    }
    .header_item
    {
        font-size: 13px;
    }
    .login,
    .signup
    {
        font-size: 13px;
    }
    #language-select
    {
        font-size: 13px;
    }
}
@media (max-width: 320px)
{
    .header_list
    {
        gap: 0 20px;
    }
    .header_item
    {
        font-size: 12px;
    }
}