html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--WhiteColor);
}
@font-face {
    font-family: "Manrope", sans-serif;
    src: url("../fonts/manrope.regular.otf") format("otf");
    src: url("../fonts/manrope.medium.otf") format("otf");
    src: url("../fonts/manrope.semibold.otf") format("otf");
    src: url("../fonts/manrope.bold.otf") format("otf");
    src: url("../fonts/manrope.extrabold.otf") format("otf");
}
@font-face {
    font-family: "Playfair Display", serif;
    src: url("../fonts/playfair-display.bold.ttf") format("ttf");
    src: url("../fonts/playfair-display-semi-bold.ttf") format("ttf");
}
@font-face {
    font-family: "Inter", sans-serif;
    src: url("../fonts/Inter-Regular.otf") format("otf");
    src: url("../fonts/Inter-Bold.otf") format("otf");
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("../fonts/open-sans.regular.ttf") format("ttf");
}
:root {
    --MainColor: #ba7894;
    --PrimaryColor: #422a3c;
    --SecondaryColor: #ecbfd3;
    --DarkColor: #141414;
    --LightColor: #f7e5c1;
    --GrayColor: #555555;
    --WhiteColor: #ffffff;
    --FooterColor: #241520;
    --priceColor: #6b0606;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    max-width: 1680px;
    padding: 0 10px;
    margin: 0 auto;
}
.title {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ================================================= Header ================================================ */
.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo,
.footer-logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
}
.logo-img
{
    width: 80px;
}
.header-logo_text
{
    font-size: 32px;
    color: var(--PrimaryColor);
    white-space: nowrap;
}
.footer-logo_text
{
    font-size: 32px;
    color: var(--MainColor);
    white-space: nowrap;
}
.header-logo_text span
{
    font-weight: 800;
}
.footer-logo_text span
{
    font-weight: 800;

}
.inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 36px;
    flex-wrap: wrap;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header_list {
    display: flex;
    justify-content: space-between;
    gap: 0 46px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header_item {
    font-size: 16px;
    font-weight: 500;
    color: var(--DarkColor);
}
.header_item:hover,
.header_item:focus {
    color: var(--MainColor);
}
.language {
    display: flex;
    align-items: center;
}
.language_link {
    display: flex;
}
.language_sapn {
    font-size: 16px;
    font-weight: 700;
}
.registration {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.login {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border: 2px solid var(--DarkColor);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.signup {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    color: var(--WhiteColor);
    background-color: var(--DarkColor);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======================================= Main ====================================== */
.section-service {
    background-image: url(../images/gradient.png), url(../images/service-bg.png);
    background-repeat: no-repeat;
    background-position: left, right;
    width: 100%;
    height: 832px;
    margin-bottom: 70px;
}
.block-sevrice {
    display: flex;
    flex-direction: column;
    padding: 207px 300px 203px 110px;
}
.service-box {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 7px;
}
.box-text {
    font-size: 15px;
    font-weight: 600;
    color: var(--WhiteColor);
    text-transform: uppercase;
    /* width: 338px; */
}
.block-title {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 700;
    color: var(--LightColor);
    width: 545px;
    margin-bottom: 24px;
}
.block-text {
    color: var(--WhiteColor);
    width: 508px;
    margin-bottom: 52px;
    line-height: 1.5;
}
.block-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    width: 790px;
    gap: 0 46px;
    padding: 11px 14px 11px 40px;
    border-radius: 66px;
    -webkit-border-radius: 66px;
    -moz-border-radius: 66px;
    -ms-border-radius: 66px;
    -o-border-radius: 66px;
}
.block-search {
    display: flex;
    gap: 0 24px;
}
.name,
.address {
    display: flex;
    flex-direction: column;
}
.name-label,
.address-label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--MainColor);
    width: 123px;
    margin-bottom: 14px;
    white-space: nowrap;
}
.name-link,
.address-link {
    display: flex;
    border-bottom: 2px solid var(--DarkColor);
}
.name-input,
.address-input,
.name-search,
.address-location {
    border: none;
    margin-bottom: 8px;
}
.name-input::placeholder,
.address-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--DarkColor);
    width: 150px;
}
.search-link {
    display: flex;
    align-items: center;
    background-color: var(--MainColor);
    padding: 16px 25px;
    gap: 0 23px;
    color: var(--WhiteColor);
    border-radius: 56px;
    -webkit-border-radius: 56px;
    -moz-border-radius: 56px;
    -ms-border-radius: 56px;
    -o-border-radius: 56px;
}
/* ========================================= Procedure =================================== */
.section-procedure {
    margin-bottom: 51px;
}
.block-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 40px;
    flex-wrap: wrap;
}
.block-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px 0;
}
.block-img {
    width: 125px;
}
.block_text {
    font-weight: 700;
    color: var(--PrimaryColor);
}
/* ======================================= Beautiful ============================ */
.section-beautiful {
    background-color: rgba(235, 243, 245, 50%);
    padding: 64px 0;
    margin-bottom: 30px;
}
.beautiful-title {
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.beautiful-text {
    font-size: 20px;
    text-align: center;
    color: var(--GrayColor);
    width: 768px;
    margin: 0 auto;
    margin-bottom: 23px;
    width: 100%;
}
.beautiful-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
}
.making_img {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.making-img {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.box_img {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* ========================================== Recommended ============================================ */
.section-recommended {
    margin-bottom: 100px;
}
.recommended_text {
    font-size: 15px;
    font-weight: 600;
    color: var(--MainColor);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.recommended-title {
    text-align: center;
    margin-bottom: 16px;
    width: 768px;
    margin: 0 auto 8px;
    width: 100%;
}
.recommended-text {
    font-size: 20px;
    color: var(--GrayColor);
    text-align: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 100%;
}
.block-recommended {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.block-box {
    border: 1px solid rgba(0, 0, 0, 24%);
    width: 384px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.block-box_img {
    width: 100%;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
}
.block-inner {
    padding: 24px;
}
.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}
.salon-title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--DarkColor);
    margin-bottom: 10px;
}
.review {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--DarkColor);
}
.location-link {
    display: flex;
    gap: 0 10px;
    margin-bottom: 24px;
}
.locacie {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--GrayColor);
    width: 100%;
    /* width: 336px;
    white-space: nowrap; */
}
.recommended-btn {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--MainColor);
    /*display: block;*/
    border: 1px solid var(--MainColor);
    padding: 16px 50px;
    margin: 0 auto;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.recommended-btn:hover {
    color: var(--WhiteColor);
    background-color: var(--MainColor);
}
/* =================================== Elegance ======================================= */
.section-elegance {
    margin-bottom: 150px;
}
.elegance-title {
    text-align: center;
    width: 667px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.elegance-text {
    text-align: center;
    color: var(--GrayColor);
    width: 827px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.elegance-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}
.elegance-box
{
    position: relative;
}
.elegance-img {
    width: 370px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.elegance {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 20px;
    position: absolute;
    bottom: 0;
}
.elegance_text {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--WhiteColor);
    white-space: nowrap;
}
/* ==================================== Subscribe ===================================== */
.section-newsletter {
    margin-bottom: 86px;
}
.newsletter-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.newsletter_img
{
    width: 100%;
}
.newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter-title {
    width: 475px;
    margin-bottom: 15px;
}
.newsletter-text {
    color: var(--GrayColor);
    width: 480px;
    margin-bottom: 46px;
}
.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--SecondaryColor);
    width: 525px;
    height: 68px;
    padding: 9px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.newsletter-form_box
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-input {
    border: none;
    padding: 5px;
}
.newsletter-input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #004761;
}
.newsletter-btn {
    padding: 15px 20px;
    color: var(--WhiteColor);
    background-color: var(--DarkColor);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
/* ========================================= Follow our Instagram ============================== */
.section-follow {
    margin-bottom: 50px;
}
.follow-title {
    width: 667px;
    text-align: center;
    margin: 0 auto 24px;
}
.follow-text {
    width: 827px;
    color: var(--GrayColor);
    text-align: center;
    margin: 0 auto 40px;
}
.follow-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.follow-link {
    display: flex;
}
.follow-img {
    width: 100%;
}
/* ==================================== Footer ========================= */
.footer {
    background-color: var(--FooterColor);
}
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--GrayColor);
    flex-wrap: wrap;
    padding: 66px 0 52px 0;
}
.social-list {
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
}
.footer-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 52px 0 76px 0;
}
.footer-title {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--WhiteColor);
    margin-bottom: 21px;
    width: 190px;
}
.footer-block_list {
    font-size: 17px;
    font-weight: 500;
    color: var(--WhiteColor);
    display: flex;
    flex-direction: column;
    gap: 14px 0;
}
.footer-address_list {
    font-size: 17px;
    font-weight: 500;
    color: var(--WhiteColor);
    display: flex;
    flex-direction: column;
    gap: 14px 0;
}
.footer-address_item {
    display: flex;
    gap: 0 14px;
}
/* ================================================================================= */
/* Плавные переходы при смене языка */
body.language-changing {
    opacity: 0;
    transition: opacity 0.7s var(--cubic);
}

/* Стили для селектора языка */
.language select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: all 0.7s var(--cubic);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.language select:focus {
    outline: none;
    border-color: #aaa;
}
/* ======================================= Media ======================================= */
@media screen and (max-width: 1440px)
{
    .section-service 
    {
        background-image: url(../images/gradient-1.png), url(../images/service-bg.png);
    }
    .block-sevrice
    {
        padding: 300px 300px 203px 100px;
    }
    .start-title
    {
        font-size: 35px;
    }
    .start-text,
    .assessment-text
    {
        font-size: 16px;
    }
    .start-img
    {
        width: 600px;
    }
}
@media screen and (max-width: 1300px)
{
    .header-logo
    {
        gap: 0 15px;
    }
    .header_list
    {
        gap: 0 35px;
    }
    .section-service 
    {
        background-image: url(../images/gradient-2.png), url(../images/service-bg.png);
        background-position: center;
        background-size: cover;
    }
    .block-sevrice
    {
        padding: 330px 300px 203px 100px;
    }
    .block-title
    {
        font-size: 65px;
        width: 535px;
    }
    .block-text
    {
        margin-bottom: 30px;
    }
    .block-form
    {
        width: 760px;
        gap: 0 35px;
    }
    .search-link
    {
        padding: 16px 20px;
    }
    .start-text
    {
        margin-bottom: 25px;
    }
    .stage
    {
        margin-bottom: 15px;
    }
    .start-block
    {
        padding: 0px 0px 0px 80px;
    }
    .start-img,
    .prices-block_1-img
    {
        width: 500px;
    }
}
@media screen and (max-width: 1200px)
{
    .inner
    {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }
    .section-service 
    {
        background-image: url(../images/gradient-3.png), url(../images/service-bg.png);
    }
    .block-sevrice
    {
        padding: 330px 300px 203px 60px;
    }
    .block-form
    {
        width: 750px;
        gap: 0 30px;
    }
    .search-link
    {
        padding: 16px 20px;
    }
    .newsletter-block
    {
        display: flex;
        flex-direction: column;
    }
    .start-text
    {
        margin-bottom: 20px;
    }
    .stage
    {
        margin-bottom: 10px;
    }
    .start-inner
    {
        gap: 0;
    }
    .start-block
    {
        padding: 0px 0px 0px 0px;
    }
    .start-img,
    .styles-img
    {
        width: 450px;
    }
    .styles-title,
    .team-title,
    .blog-title,
    .prices-title,
    .contact-title
    {
        font-size: 40px;
        width: 450px;
    }
    .styles-text
    {
        font-size: 14px;
        width: 450px;
    }
    .blog_title,
    .contact-text
    {
        font-size: 16px;
    }
    .prices_title
    {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .prices_text
    {
        margin-bottom: 20px;
    }
    .prices_list
    {
        gap: 20px 0;
        margin-bottom: 20px;
        width: 485px;
    }
    .prices_text,
    .prices_item
    {
        font-size: 16px;
    }
    .prices-block_1-img
    {
        width: 350px;
    }
    .contact_img
    {
        position: relative;
    }
    .contact-img
    {
        width: 550px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100px;
        width: 450px;
    }
    .contact-title
    {
        font-size: 40px;
        width: 385px;
    }
    .contact-text
    {
        font-size: 16px;
        width: 480px;
    }
}
@media screen and (max-width: 1100px)
{
    .blog-inner
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
    .blog-box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog_title
    {
        text-align: center;
    }
    .prices-title
    {
        width: 400px;
    }
    .prices_text
    {
        width: 450px;
    }
    .prices_list
    {
        width: 450px;
    }
    .book-inner
    {
        width: 980px;
        padding: 30px;
    }
    .book-title
    {
        font-size: 40px;
        width: 400px;
    }
    .book-text
    {
        width: 100%;
    }
    .book-list
    {
        gap: 20px 0;
    }
    .book-block
    {
        width: 100%;
    }
    .book_input
    {
        width: 570px;
    }
    .contact-title
    {
        font-size: 32px;
        width: 300px;
    }
    .contact-text
    {
        font-size: 16px;
        width: 380px;
        margin-bottom: 32px;
    }
    .contact_img
    {
        position: relative;
    }
    .contact-img
    {
        width: 500px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100px;
        width: 400px;
    }
    .contact-block
    {
        gap: 0 25px;
    }
    .contact-box
    {
        padding: 0;
    }
    .elegance-block
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
@media screen and (max-width: 1000px)
{
    .block-list
    {
        display: flex;
        gap: 30px 0;
    }
    .consumers-block
    {
        height: 400px;
    }
    .consumers-img
    {
        width: 385px;
    }
    .consumers-title
    {
        font-size: 35px;
        width: 350px;
    }
    .consumers-text
    {
        font-size: 14px;
        width: 408px;
    }
    .start-inner
    {
        display: flex;
        flex-direction: column;
    }
    .start-block
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .start-title
    {
        text-align: center;
    }
    .start-text,
    .assessment-text
    {
        text-align: center;
        font-size: 14px;
    }
    .methodology-title
    {
        text-align: center;
        margin: 0 auto 20px;
        width: 100%;
    }
    .assessment
    {
        display: flex;
        justify-content: center;
    }
    .styles-block
    {
        display: flex;
        flex-direction: column;
        gap: 35px 0;
    }
    .styles-box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .prices-title
    {
        width: 400px;
    }
    .prices_title
    {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .prices_text
    {
        font-size: 15px;
        width: 350px;
    }
    .prices_list
    {
        font-size: 15px;
        width: 350px;
    }
    .book-inner
    {
        padding: 15px;
        width: 850px;
        height: 630px;
        gap: 0 20px;
    }
    .book-input
    {
        width: 230px;
    }
    .book_input
    {
        width: 465px;
    }
    .book-text
    {
        width: 85%;
    }
    .contact__box
    {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }
    .contact-map
    {
        height: 380px;
    }
}
@media screen and (max-width: 950px)
{
    .block-sevrice
    {
        padding: 170px 160px 75px 50px;
    }
    .block-form
    {
        width: 350px;
        border-radius: 33px;
    }
    .block-form,
    .block-search
    {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        padding: 15px;
    }
    .block-list
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .contact_img
    {
        position: relative;
    }
    .contact-img
    {
        width: 450px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100px;
        width: 350px;
    }
    .contact-list
    {
        gap: 15px 0;
    }
    .contact-link
    {
        gap: 0 20px;
    }
}
@media screen and (max-width: 880px)
{
    .blog_title
    {
        width: 250px;
    }
    .prices-block_1,
    .prices-block_2,
    .prices-block_3,
    .prices-block_4,
    .prices-block_5
    {
        display: flex;
        flex-direction: column;
    }
    .order-img
    {
        order: 1;
    }
    .order-price
    {
        order: 2;
    }
    .book-inner
    {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 1155px;
        gap: 20px 0;
    }
    .book_text
    {
        text-align: center;
        margin: 0 auto;
    }
    .book-title
    {
        text-align: center;
        margin: 0 auto 20px;
    }
    .book-text
    {
        text-align: center;
        margin: 0 auto 20px;
    }
    .book-form
    {
        display: flex;
        flex-direction: column;
    }
    .book-btn
    {
        font-size: 20px;
    }
    .contact-block
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 850px)
{
    .title 
    {
        font-size: 35px;
    }
    .beautiful-title,
    .elegance-title,
    .team-title,
    .services-title
    {
        width: 580px;
    }
    .elegance-text,
    .follow-text,
    .services-text
    {
        width: 100%;
    }
    .footer-block
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 35px 0;
    }
    .item-3
    {
        grid-column-start: span 2;
    }
    .about-title
    {
        font-size: 35px;
        width: 550px;
    }
    .about-btn,
    .styles-btn
    {
        font-size: 14px;
        padding: 20px 30px;
    }
    .consumers-block
    {
        height: 300px;
    }
    .consumers-img
    {
        width: 300px;
    }
    .consumers-title
    {
        font-size: 30px;
        width: 350px;
    }
    .consumers-text
    {
        font-size: 12px;
        width: 340px;
    }
    .styles-title
    {
        width: 400px;
    }
    .team-block
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .prices-text
    {
        font-size: 16px;
        width: 700px;
    }
}
@media screen and (max-width: 750px)
{
    .inner-box
    {
        gap: 0 30px;
    }
}
@media screen and (max-width: 740px)
{
    .inner-box
    {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }
    .login,
    .signup
    {
        font-size: 15px;
    }
    #language-select
    {
        font-size: 15px;
    }
    .block-text
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .block-title
    {
        font-size: 50px;
        width: 400px;
    }
    .title 
    {
        font-size: 32px;
    }
    .beautiful-title,
    .elegance-title,
    .follow-title,
    .team-title
    {
        width: 500px;
    }
    .beautiful-images
    {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    .box_img
    {
        gap: 20px;
    }
    .footer-inner
    {
        display: flex;
        flex-direction: column;
        gap: 35px 0;
    }
    .consumers-block
    {
        height: 300px;
    }
    .consumers-img
    {
        width: 300px;
    }
    .consumers-title
    {
        font-size: 20px;
        width: 255px;
    }
    .consumers-text
    {
        font-size: 12px;
        width: 300px;
    }
    .styles-title
    {
        width: 350px;
    }
    .prices-title
    {
        font-size: 30px;
        width: 300px;
    }
    .prices-text
    {
        font-size: 16px;
        width: 600px;
    }
}
@media screen and (max-width: 680px)
{
    .consumers-block
    {
        display: flex;
        flex-direction: column;
        height: 650px;
    }
    .consumers-img
    {
        width: 300px;
    }
    .consumers-title
    {
        font-size: 20px;
        width: 255px;
    }
    .consumers-text
    {
        font-size: 12px;
        width: 300px;
    }
    .blog-inner
    {
        display: flex;
        flex-direction: column;
    }
    .services-title
    {
        width: 500px;
    }
    .prices-text
    {
        width: 500px;
    }
}
@media screen and (max-width: 650px)
{
    .elegance-block
    {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 580px)
{
    .title 
    {
        font-size: 30px;
    }
    .beautiful-title,
    .newsletter-title,
    .elegance-title,
    .follow-title,
    .team-title
    {
        font-size: 25px;
        width: 300px;
    }
    .newsletter-title,
    .newsletter-text
    {
        text-align: center;
    }
    .beautiful-text,
    .recommended-text,
    .elegance-text,
    .newsletter-text,
    .follow-text,
    .services-text
    {
        font-size: 16px;
    }
    .beautiful-images
    {
        gap: 20px 0;
    }
    .box_img
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .recommended-text
    {
        margin-bottom: 50px;
    }
    .newsletter-form
    {
        width: 440px;
    }
    .newsletter-input
    {
        margin-right: 5px;
    }
    .about-title,
    .start-title,
    .services-title
    {
        font-size: 30px;
        width: 400px;
    }
    .about-btn,
    .styles-btn
    {
        padding: 15px 25px;
    }
    .start-img,
    .styles-img
    {
        width: 350px;
    }
    .styles-title,
    .book-title
    {
        width: 300px;
    }
    .prices-title,
    .prices_title
    {
        font-size: 25px;
        width: 250px;
    }
    .prices-text,
    .newsletter-text,
    .beautiful-text,
    .recommended-text,
    .elegance-text,
    .follow-text
    {
        width: 350px;
    }
    .book-inner
    {
        width: 400px;
        height: 1180px;
    }
    .book-img
    {
        width: 200px;
    }
    .book-list
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .book_item
    {
        display: flex;
        width: 230px;
    }
    .book_input
    {
        width: 100%;
    }
    .book-btn
    {
        font-size: 18px;
    }
    .follow-list
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-list
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 520px)
{
    .header-logo_text
    {
        font-size: 25px;
    }
}
@media screen and (max-width: 500px)
{
    .section-newsletter
    {
        margin-bottom: 150px;
    }
    .newsletter-form
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 35px 0;
        width: 350px;
        padding: 9px 15px;
    }
    .newsletter-form_box
    {
        padding: 6px;
    }
    .newsletter-input
    {
        margin-right: 0;
    }
    .beautiful-title,
    .elegance-title,
    .team-title
    {
        font-size: 20px;
        width: 250px;
    }
    .prices-text,
    .newsletter-text,
    .beautiful-text,
    .recommended-text,
    .elegance-text,
    .follow-text
    {
        font-size: 15px;
        width: 300px;
    }
}
@media screen and (max-width: 480px)
{
    .header-logo,
    .footer-logo
    {
        gap: 0 15px;
    }
    .header-logo_text,
    .footer-logo_text
    {
        font-size: 25px;
    }
    .social-img
    {
        width: 45px;
    }
    .block-form,
    .block-search
    {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        padding: 15px;
        width: 275px;
        border-radius: 33px;
    }
    .name,
    .address
    {
        margin: 0 auto;
    }
    .name-label, 
    .address-label 
    {
        font-size: 16px;
    }
    .name-link,
    .address-link
    {
        font-size: 75%;
        width: 200px;
    }
    .block-sevrice
    {
        padding: 170px 50px 25px 25px;
    }
    .title 
    {
        font-size: 25px;
    }
    .footer-address_item
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
    }
    .stage
    {
        gap: 0 15px;
    }
    .start-play
    {
        width: 150px;
    }
    .styles-title,
    .team-title,
    .blog-title,
    .services-title,
    .prices-title,
    .prices_title,
    .contact-title
    {
        width: 250px;
    }
    .styles-text,
    .team-text,
    .blog-text
    {
        width: 100%;
    }
    .prices-text,
    .prices_text
    {
        width: 300px;
    }
    .prices_list
    {
        font-size: 15px;
        width: 300px;
    }
    .prices-block_1,
    .prices-block_2,
    .prices-block_3,
    .prices-block_4,
    .prices-block_5
    {
        padding: 0;
    }
    .contact_img
    {
        position: relative;
    }
    .contact-img
    {
        width: 400px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100px;
        width: 300px;
        height: 370px;
    }
}
@media screen and (max-width: 435px)
{
    .header-logo,
    .footer-logo
    {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }
    .block-title
    {
        font-size: 35px;
        width: 288px;
    }
    .team-block
    {
        display: flex;
        flex-direction: column;
    }   
    .book-inner
    {
        width: 300px;
        padding: 0;
    }
    .book-title
    {
        width: 300px;
    }
    .book-text
    {
        font-size: 14px;
        width: 250px;
    }
}
@media screen and (max-width: 410px)
{
    .social-img
    {
        width: 35px;
    }
    .header_list
    {
        gap: 0 30px;
    }
    .header_item
    {
        font-size: 15px;
    }
    .login,
    .signup
    {
        font-size: 13px;
    }
    #language-select
    {
        font-size: 13px;
    }
    .block-sevrice
    {
        padding: 200px 5px 25px 5px;
    }
    .title 
    {
        font-size: 20px;
    }
    .beautiful-title,
    .elegance-title,
    .follow-title,
    .about-title,
    .start-title,
    .services-title
    {
        font-size: 20px;
        width: 300px;
    }
    .beautiful-text,
    .elegance-text,
    .newsletter-text,
    .follow-text,
    .services-text,
    .recommended-text
    {
        font-size: 14px;
        width: 250px;
    }
    .block-box
    {
        width: 100%;
    }
    .salon-title
    {
        font-size: 20px;
    }
    .about-btn,
    .styles-btn
    {
        font-size: 12px;
        padding: 10px 20px;
    }
    .consumers-img,
    .blog-category_img
    {
        width: 250px;
    }
    .consumers-title,
    .about-title
    {
        width: 255px;
    }
    .consumers-text
    {
        width: 250px;
    }
    .start-img,
    .styles-img,
    .team-img
    {
        width: 300px;
    }
    .prices-title,
    .prices_title
    {
        width: 192px;
    }
    .prices-text,
    .prices_text
    {
        font-size: 13px;
        width: 250px;
    }
    .prices_list
    {
        font-size: 13px;
        width: 250px;
    }
    .prices-block_1-img
    {
        width: 300px;
    }
    .book-btn
    {
        font-size: 16px;
    }
    .contact_text
    {
        text-align: center;
    }
    .contact-title
    {
        text-align: center;
        margin: 0 auto 20px;
    }
    .contact-text
    {
        text-align: center;
        width: 300px;
        margin: 0 auto 32px;
    }
    .contact_img
    {
        position: relative;
    }
    .contact-img
    {
        width: 300px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 100px;
        width: 200px;
        height: 270px;
    }
    .contact-link
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px 0;
    }
    .contact-address
    {
        text-align: center;
    }
    .newsletter-form
    {
        width: 300px;
        padding: 9px 10px;
    }
    .block_text
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 350px)
{
    .header-logo_text, 
    .footer-logo_text
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px)
{
    .header-logo_text
    {
        font-size: 20px;
    }
    .header_list
    {
        gap: 0 20px;
    }
    .header_item
    {
        font-size: 12px;
    }
    .block-title
    {
        font-size: 30px;
        width: 245px;
    }
    .block-form,
    .block-search
    {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        padding: 15px;
        width: 230px;
        border-radius: 33px;
    }
    .search-link
    {
        padding: 14px 15px;
    }
    .name,
    .address
    {
        margin: 0 auto;
    }
    .name-label, 
    .address-label 
    {
        font-size: 16px;
    }
    .name-link,
    .address-link
    {
        font-size: 75%;
        width: 200px;
    }
    .block-list
    {
        gap: 5px;
    }
    .block-item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .block_text
    {
        font-size: 14px;
    }
    .beautiful-title,
    .elegance-title,
    .newsletter-title,
    .follow-title,
    .start-title,
    .services-title,
    .book-title
    {
        width: 250px;
    }
    .beautiful-text,
    .recommended-text,
    .beautiful-text,
    .newsletter-text,
    .follow-text,
    .book-text,
    .contact-text
    {
        width: 200px;
    }
    .elegance
    {
        padding: 15px;
        gap: 0 15px;
    }
    .elegance_text
    {
        font-size: 22px;
    }
    .newsletter-form
    {
        width: 250px;
        padding: 9px 10px;
    }
    .newsletter-input
    {
        font-size: 75%;
    }
    .footer-block
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item-3,
    .footer-address_item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .consumers-img
    {
        width: 230px;
    }
    .consumers_text
    {
        margin: 0 auto 9px;
    }
    .consumers-title,
    .consumers-text
    {
        text-align: center;
    }
    .start-img,
    .styles-img,
    .team-img,
    .prices-block_1-img,
    .contact-img
    {
        width: 250px;
    }
    .contact-background
    {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50px;
        width: 200px;
        height: 230px;
    }
    .start-play
    {
        width: 100px;
    }
    .stage
    {
        gap: 0 10px;
    }
    .prices_title
    {
        text-align: center;
        margin: 0 auto 12px;
    }
    .prices_text
    {
        width: 200px;
        text-align: center;
        margin: 0 auto 20px;
    }
    .book-inner
    {
        width: 250px;
    }
}